
*{
    font-family: 'Inter', sans-serif;
}
.full-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
   
   .login-page {
    padding:50px;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    width: 400px;
   }
   
   .form-group {
    margin-bottom: 15px;
   }
   .form-group-button{
    display: flex;
   }

   .form-group label {
    display: flex;
    margin-bottom: 5px;
   }
   
   .form-group input {
    border-radius: 3px;
    width: 100%;
    padding-left: 5px;
    padding-right: 20px;
    
   }

   button {
    width: 100%;
    padding: 10px;
    margin: auto;
    background-color: orange;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
   }
   
   button:hover {
    background-color: rgb(60, 255, 0);
   }
   
   .forgot-password,
   .create-account {
    margin-top: 15px;
    text-align: center;
   }
   
   .forgot-password a,
   .create-account a {
    color: orange;
    text-decoration: none;
   }
   
   .forgot-password a:hover,
   .create-account a:hover {
    text-decoration: underline;
   }